/* .image-1 {
    min-height: 100px;
    border: 1px solid black;
} */
a.progressive {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none;
    height: 350px;
    width: 417px;
    margin: 0 auto;
  }
  a.progressive:not(.replace) {
    cursor: default;
  }
  a.progressive img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px grey;
    /*max-width: 100%;
    height: auto;*/
    border: 0 none;
  }
  a.progressive img.preview {
    filter: blur(2vw);
    transform: scale(1.05);
  }
  a.progressive img.reveal {
    position: absolute;
    left: 0;
    top: 0;
    will-change: transform, opacity;
    animation: reveal 1s ease-out;
  }
  
  @keyframes reveal {
    0% {transform: scale(1.05); opacity: 0;}
    100% {transform: scale(1); opacity: 1;}
  }


  /*------- Extra Styles ------------*/

figure img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); */
}

/* figure {
    margin: 0 auto;
} */



/* #gallery figure {
    text-align: center;
    font-family: Heebo;
}

figure, figure a {
    box-shadow: 0 0px 7px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    border-radius: 10px;
}

figure a:hover {
    box-shadow: 0px 0px 30px #00798c;
    transition: .3s;
} */


/* ------- Lazy Load Page ------*/

#lazy-page a {
    margin: 0 auto;

}

@media only screen and (min-width: 960px) {
    #lazy-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1450px) {
    #lazy-page {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}



