@media only screen and (min-width: 960px) {
    /*32.5em*/
    
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #gallery-main {
        max-width: none;
        margin: 0 auto;
    }
    
    main {
        max-width: 500px;
        margin: 0 auto;
    }

    .medium-hero {
        display: block;
        width: 500px;
    }

    .hero-image, .small-hero {
        display: none;
    }
    
    #map {
        display: block;
    }

    #forecast {
        display: block;
    }

    td {
        background-color: #00798c;
        color: #a6e1fa;
    }

    th {
        background-color: #a6e1fa;
    }

    table {
        background-color: black;
        font-family: Heebo;
    }

    #blue {
        background-color: #a6e1fa;
    }

    #frame {
        display: block;
        margin: 15px 0px;
        text-align: center;
    }

    .weather-summary {
        width: 200px;
    }

    table {
        margin: 0 auto;
    }

    
} 



