/*----------------------------------------------------- */
/* HEADER */
/* ----------------------------------------------------- */
header {
    background-image:url(images/website-images/carl-heyerdahl-KE0nC8-58MQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1 {
    margin: 0;
    color: rgb(246, 240, 252);
    font-size: 200%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    
}

.main-nav li a:link, 
.main-nav li a:visited{
    padding: 10px 0;
    color: rgba(72, 71, 78, 0.671);
    text-decoration:none;
    text-transform: uppercase;
    font-size: 100%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #260b86;
}
