*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
        background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(/portfoliojk/resources/images/background1.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        background-attachment: fixed;
}