@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		color: white;
	}

	.grid {
		grid-template-columns: 1fr 1fr;
	}
	/* id selectors */
	#map {
		display: block;
	}
	#forecast {
		display: block;
	}
	
	#gallery {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

