@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

p {
  font-family: Heebo;
}


h1 {
  border: black;
  background-color:lightslategray;
  text-align: center;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
}
img {
  width: 200px;
  margin: 10px;
  box-shadow: 0 0 20px;

}

article {

  background-color: lightblue;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border:5px outset white ;
}
section{
  display: grid;
  grid-template-columns: 1fr;
}

main {
  background-color: thistle;
  padding: 20px;
  
}

footer{

  background-color: lightslategrey;
  color:black;
  padding: 30px;
  margin-bottom: 0;
  text-align:center;

}
@media only screen and (min-width:32.5em){
  section {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width:62em){
  section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


