@media only screen and (min-width: 960px) {
    /*32.5em*/
    
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

   
    
    main {
        max-width: 500px;
        margin: 0 auto;
    }

}