@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');


header {
    background-color:blueviolet;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #FAF8D4;
}
div {
    width:50%;
    border: 2px solid #4CAF50;
  }

  
section {
    float: left;
    width: 27.2%;
    margin: 1.6%;
    color: #ffffff;
    background-color: #4696aa;
    border-radius: 10px;
    padding: 10px;
}
img {
    border: solid #641c2e 10px;
    border-radius: 10px;
    -webkit-filter: brightness(180%); 
  filter: brightness(180%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.title {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    color: white;
}


h1, h2, a {
    text-align: center;
}
a{
    display: block;
}


section a:link {
    text-decoration: none;
}

section a:hover {
    color: rgb(0, 255, 13);
}

section a:active {
    color: black;
}
