@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
header {
    background-color: blueviolet;
    padding-top: 10px;
    padding-bottom:10px;
    border: 1px solid #333;
	box-shadow: 0 0 10px #000;
}

body{
    font-display:'Exo', sans-seri;
    font-size:14px ;
    background-color: chartreuse;
}

div {
    padding: 20px;
    border: 5px solid #4CAF50;
  }

  section {
      margin-left: px;
      margin-right: px;
  }