@media only screen and (max-width: 600px) {
  body {
    background-color:lightslategray;
  }
}

header
{
  text-align:center;
  padding-top:50px;
  padding-bottom:50px;
  background:skyblue;
  color:black;
  font-size:1.5em;
  border-left:1px solid lightblue;
  border-right:1px solid lightblue;
}

footer
{
text-align:center;
padding-top:10px;
padding-bottom:10px;
background:skyblue;
color:black;
border:1px solid lightblue;
}

body{
   
     background-color: lightblue;

}
.content {
  width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  padding-top: 0;
  font-size: 18px;
  color: #444;
  margin: 0 auto;
  
  max-height: 270px;
  overflow: hidden;

  /* set transition up */
  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  transition: max-height 0.7s
}

#content-open{
  max-height: 1000px;
   /* set transition up */
   -webkit-transition: max-height 0.7s;
   -moz-transition: max-height 0.7s;
   transition: max-height 0.7s
}

#display-more{
  background: #1594e5;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: block;
  width: 140px;
  font-size: 24px;
  text-transform: uppercase;
  padding: 16px;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
}

