@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
header {
    background-color: blueviolet;
    padding-top: 10px;
    padding-bottom:10px;
}

body{
    font-display:'Exo', sans-seri;
    background-color: chartreuse;
}