* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    /* font-family: sans-serif; Ubuntu, sans-serif; */
    color: #000; /* #xxxxxx */;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

h1 {
    font-size: 2.4rem /* x.xrem  (rem is a unit of measure) */;
    color: #fff; /* #xxxxxx */;
}

h2 {
    font-size: 2.0rem; /* x.xrem */;
    text-align: center;
    border-bottom: 1px solid rgba(187, 187, 187, 0.438);
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 800px; /* xxxpx (px = pixel is a unit of measure)  */;
}
header, footer, footer a {
    text-align: center;
    background-color:rgba(124, 0, 128, 0.767) /* */;
    color: whitesmoke;
    /* Comment */
}

header img {
    width: 20%; /*  */;
    height: auto;
    float: right;
}



footer {
    font-size: smaller; /* smaller */;
}

ul {
    /* text-align: center; */
    margin: 0 auto;
    max-width: 300px;
}