@media screen and (min-width: 870px) {

    .article {
        background-color: white;
        border: dotted;
        padding: 3.125em;
        margin: .5em 1.25em 0.625em;
        border: solid;
        font-size: 1em;
        text-align: left;
        overflow: auto;
      }
      .article #headline{
        text-align: center;
        font-size: 2em;
        color: red;
      }
      .article img{
        max-width: 50%;
        float: top;
        padding: 1em;
      }
      .weathsum .content {
        position: absolute;
        bottom: 20%;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.6); /* Black background with 0.5 opacity */
        color: #d8d3d3;
        width: 100%;
        padding:20px;
        max-width: 250px;
        font-family: 'Rubik', sans-serif;
}

}