@media only screen and (min-width: 30.5em) {
  header{
      text-align: center;
      background-color:skyblue;
      height: auto;
         
      align-items: center;
      justify-content: center;
  
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      display: block;
      
  }
  
  main{
    max-width: 800px;
    margin: 0 auto;
  }
#heroimag{
  width: 800px;
}

  }