@media only screen and (min-width: 50em) {
    .navigation {
        display: flex;
    }
  
    .navigation li:first-child {
        display: none;
    }
  
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
  
    .navigation li a {
        color: #00798c;
    }
  
    #frame {
        display: block;
    }
  
    main {
        max-width: 800px;
    }
  
    .hero-image {
        width: 800px;
    }
  
    iframe {
        width: 800px;
    }
  }