@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

main{
  max-width: 400px;
  margin: 0 auto;
}

header {
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headings header img {
  width: 60px;
  padding-left: 10px;
}

.Weather-Logo {
  z-index: 1;
  width: 100px;
  height: 100px;
  margin-top: 0em;
  /* margin-left: 4em; */
}

.moto {
  letter-spacing: 2.0pt;
  font-size: larger;
  margin-left: 2em;
  margin-bottom: 1em;
  color: rgb(55, 125, 190);
  font-style: italic;
  font-size: 1.2rem;
  text-shadow: 2px 2px lightgray;
}

h1 {
  color: rgb(55, 125, 190);
  font-size: 1.2rem;
  border-radius: 5px;
  border-bottom: 5px solid lightblue;
  margin-bottom: 1em;
   z-index: 5;
  text-align: center;
  margin-top: 1em;
  padding: .25em;
  margin-right: 2em;
  margin-left: 0.5em;
  text-shadow: 2px 2px gray;
  font-size: 40px;
  color:black solid;
  padding-left: 10px;
}

h2 {
  color: Black;
  font-size: 25px;
  border-radius: 5px;
  border-bottom: 5px solid black;
  text-align: center;
  margin-top: 2em;
  border-bottom: 5px solid rgb(55, 125, 190);
  background: lightblue;
  padding-left: 3em;
  padding-right: 3em;
  padding: 1em;
  text-shadow: gray;
  box-shadow: gray;
  border-radius: 15px;
  justify-content: center;
}

h3 {
  color: rgb(55, 125, 190);
  font-size: 20px;
  border-radius: 5px;
  /* border-bottom: 5px solid  rgb(55, 125, 190); */
   margin-top: -0.5em;
  text-shadow: gray;
  text-align: center;
  margin-top: 1em;
  background-color: lightblue;
  display: block;
  text-align: center;
  box-shadow:gray;
  padding: 0.5em;
}
article img {
  width: 100%;
}


h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}

article {
  border: 3px lightslategray;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #a6e1fa;
}

article p {
  padding-left: 10px;
  padding-right: 10px;
}


/* ------ Navigation Styles ------ */

nav {
  margin: 0 auto;
  background-color: lightslategrey ;
   border-top: 3px #00798c solid;
}

.navigation {
  list-style: none;
  text-align: center;
  padding: 0;
  
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  color: #00798c;
  text-decoration: none;
  font-size: 18px;
  padding: 0.75rem;
}

.navigation a:hover {
  color: black;
  background-color: solid blue;
  text-decoration: underline;
  font-weight: 700;
}

table, td, th {
  border: 1px solid black;
}

#forecast {
  display: none; 
}

#frame {
  display: none;
}

.hidden {
  display: none;
}

header img {
  width: 60px;
  padding-right: 10px;
}

article img {
  width: 100%;
}


h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}

article {
  border: 3px lightslategray;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #a6e1fa;
}

article p {
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-size: 40px;
  color:black solid;
  padding-left: 10px;
}

h2 {
  font-size: 22px;
  text-align: center;
}

h3 {
  text-align: center;
  color: #00798c;
}

/* ------ Navigation Styles ------ */

nav {
  background-color: lightslategrey ;
  margin-top: -5px;
  border-top: 3px #00798c solid;
}

.navigation {
  list-style: lower-roman;
  text-align: center;
  padding: 0;
  padding-bottom: 8px;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  color: #00798c;
  text-decoration: none;
  font-family: Heebo;
  font-size: 18px;
  padding: 0.75rem;
}

.navigation a:hover {
  color: black;
  text-decoration: underline;
  transition-duration: 1s;
}

table, td, th {
  border: 1px solid black;
}

#forecast {
  display: none; 
}

#frame {
  display: none;
}

.hidden {
  display: none;
}

/* ----- Weather Summary Styles ------ */

.hero-div {
  margin: 0 auto;
}

/* ----- Footer styles ----- */

footer {
  background-color:skyblue;
  padding: 10px 0 10px 0;
}

footer span, footer p {
  color: silver;
  text-align: center;
  font-family: Heebo;
}

.copyright {
  max-width: 800px;
  margin: 20px 0px;
  margin: 0 auto;
  border-top: silver solid 2px;
  padding: 20px 0px;
}

footer p {
  margin: 5px 0px;
}

/* ----- onclick JS toggle class style ----- */
.responsive li {
  display: block;
}

/* ------ Hero Image Styles ----- */
.hero-image {
  width: 400px;
  box-shadow: 3px 3px 5px #00798c;
}

.hero-container {
  position: relative;
}

.weather-summary {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(166, 225, 250, 0.7);
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 3px 3px 5px black;
}

.weather-summary p {
  margin: 5px 0px;
  text-shadow: 2px 2px 6px white;
}

.weather-summary h3 {
  margin: 10px 0px;
  text-shadow: 2px 2px 6px white;
}
