@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

main{
  max-width: 400px;
  margin: 0 auto;
}

header {
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 60px;
  padding-right: 10px;
}

article img {
  width: 100%;
}


h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}

article {
  border: 3px lightslategray;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #a6e1fa;
}

article p {
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-size: 40px;
  color:black solid;
  padding-left: 10px;
}

h2 {
  font-size: 22px;
  text-align: center;
}

h3 {
  text-align: center;
  color: #00798c;
}

/* ------ Navigation Styles ------ */

nav {
  background-color: lightslategrey ;
  margin-top: -5px;
  border-top: 3px #00798c solid;
}

.navigation {
  list-style: lower-roman;
  text-align: center;
  padding: 0;
  padding-bottom: 8px;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  color: #00798c;
  text-decoration: none;
  font-family: Heebo;
  font-size: 18px;
  padding: 0.75rem;
}

.navigation a:hover {
  color: black;
  text-decoration: underline;
  transition-duration: 1s;
}

table, td, th {
  border: 1px solid black;
}

#forecast {
  display: none; 
}

#frame {
  display: none;
}

.hidden {
  display: none;
}

/* ----- Weather Summary Styles ------ */

.hero-div {
  margin: 0 auto;
}

/* ----- Footer styles ----- */

footer {
  background-color:skyblue;
  padding: 10px 0 10px 0;
}

footer span, footer p {
  color: silver;
  text-align: center;
  font-family: Heebo;
}

.copyright {
  max-width: 800px;
  margin: 20px 0px;
  margin: 0 auto;
  border-top: silver solid 2px;
  padding: 20px 0px;
}

footer p {
  margin: 5px 0px;
}

/* ----- onclick JS toggle class style ----- */
.responsive li {
  display: block;
}

/* ------ Hero Image Styles ----- */
.hero-image {
  width: 400px;
  box-shadow: 3px 3px 5px #00798c;
}

.hero-container {
  position: relative;
}

.weather-summary {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(166, 225, 250, 0.7);
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 3px 3px 5px black;
}

.weather-summary p {
  margin: 5px 0px;
  text-shadow: 2px 2px 6px white;
}

.weather-summary h3 {
  margin: 10px 0px;
  text-shadow: 2px 2px 6px white;
}
